footer {
    position: relative;
    background: rgba(169, 169, 176, 0.52);
    width: 70%;
    height: 100px;
    border-radius: 50px;
    margin: 20px auto;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.3px);
    -webkit-backdrop-filter: blur(7.3px);
    border: 1px solid rgba(169, 169, 176, 1);
    display: flex;             
    justify-content: center;    
    align-items: center;        
    gap: 40px;                 
}

.footer-links img {
    width: 45px;  
    height: auto;
}
