{% extends "partials/base.html.twig" %}

{% set pageTitle = "Internal Error" %}

{% block content %}
    <h1>Internal Error</h1>
    <p>An internal error has occurred. Apologies for the inconvenience.</p>
{% endblock %}