.aside-menu{
    position: absolute;
    width: 100px;
    height: 200px;
    background: rgba(169, 169, 176, 0.52);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.3px);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    -webkit-backdrop-filter: blur(7.3px);
    border: 1px solid rgba(169, 169, 176, 1);
    text-align: left;
    padding: 0 0 0 10px;
}

.aside-menu ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px 0;
}

.aside-menu li{
    padding: 10px 0;
}

.aside-menu a{
    text-decoration: none;
    transition: all 200ms ease-in-out;
}

.aside-menu a:hover{
    color: #2B4593 !important;
}